[submodule "submodules/seqan3"]
	path = submodules/seqan3
	url = https://github.com/seqan/seqan3.git
[submodule "submodules/boost"]
	path = submodules/boost
	url = https://github.com/boostorg/boost.git
